body{
    background-color: bisque;
}

.general{
    height: 30vw;
    font-family: Arial, Helvetica, sans-serif;
}

.cuadroBlanco{
    position: relative;
    text-align: center;
    top: 25vw;
    left: 35vw;
    background-color: white;
    width: 27vw;
    height: 17vw;
    animation: elCuadro;
    animation-duration: 10s;
}

@keyframes elCuadro{
    0%{top: 55vw;}
    10%{top: 65vw}
    20%{top: 10vw;}
    25%{top: 12vw;}
    32%{top: 10vw;}
    100%{top: 10vw;}
}

#robot{
    position: relative;
    top: -2vw;
    left: 11.5vw;
    display: flex;
    width: 5vw;
    height: 5.5vw;
    border-radius: 10vw;
    box-shadow: 0.1vw 0.2vw 1vw;
}

#your{
    position: relative;
    top: -2vw;
    left: 1vw;
    font-size: 1.5vw;
    color: orange;
}

#come{
    position: relative;
    top: -3vw;
    left: 4vw;
    width: 21vw;
    height: 2vw;
}

.cuadradoColores{
    position: relative;
    background-color: aquamarine;
    cursor: pointer;
    cursor: -moz-grab;
    top: -1.5vw;
    left: 8vw;
    width: 12vw;
    height: 2.5vw;
    transition: background-color 1s;
}

.cuadradoColores:hover{
    background-color: orange
}

#another{
    position: relative;
    top: 0.5vw;
}