.general{
    position: absolute;
}

.caminante img{
    position: absolute;
    left: 50vw;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#imagen1{
    animation-name: primera;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes primera{
   0%{opacity: 1;}
   14%{opacity: 1;}
   15%{opacity: 0;}
}

#imagen2{
    animation-name: segunda;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.1s;
}

@keyframes segunda{
    0%{opacity: 1;}
   14%{opacity: 1;}
   15%{opacity: 0;}
}

#imagen3{
    animation-name: tercera;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.2s;
}

@keyframes tercera{
    0%{opacity: 1;}
    14%{opacity: 1;}
    15%{opacity: 0;}
}

#imagen4{
    animation-name: cuarta;
    animation-duration: 1s;
    animation-delay: 0.3s;
    opacity: 0;
}

@keyframes cuarta{
    0%{opacity: 1;}
   14%{opacity: 1;}
   15%{opacity: 0;}
}

#imagen5{
    animation-name: quinta;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.4s;
}

@keyframes quinta{
    0%{opacity: 1;}
   14%{opacity: 1;}
   15%{opacity: 0;}
}

#imagen6{
    animation-name: sexta;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.5s;
}

@keyframes sexta{
    0%{opacity: 1;}
   14%{opacity: 1;}
   15%{opacity: 0;}
}

#imagen7{
    animation-name: septima;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.6s;
}

@keyframes septima{
    0%{opacity: 1;}
    14%{opacity: 1;}
    15%{opacity: 0;}
}

#imagen8{
    animation-name: octava;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.7s;
}

@keyframes octava{
    0%{opacity: 1;}
    14%{opacity: 1;}
    15%{opacity: 0;}
}

#imagen9{
    animation-name: novena;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.8s;
}

@keyframes novena{
    0%{opacity: 1;}
    14%{opacity: 1;}
    15%{opacity: 0;}
}

#imagen10{
    animation-name: decima;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.9s;
}

@keyframes decima{
    0%{opacity: 1;}
    14%{opacity: 1;}
    15%{opacity: 0;}
}

.caminante{
    position: relative;
    animation-name: imagenes;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes imagenes{
   from{left: 50vw;}
   to{left: -70vw;}
}

.barra{
    position: relative;
    display: flex;
    top: -4vw;
    left: -22vw;
    width: 20vw;
    height: 60vw;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

#rayas{
    position: relative;
    color: black;
    z-index: 3;
    top: 0vw;
    font-size: 3vw;
    z-index: 2;
}

#menuInput{
    position: relative;
    left: 20vw;
    display: none;
}

#menuInput:checked ~.barra{
    animation-name: menu;
    animation-duration: 50s;
}

@keyframes menu{
    0%{left: -23vw;}
    5%{left: -1vw;}
    100%{left: -1vw;}
}

#vin2{
    position: relative;
    color: black;
    width: 20vw;
    top: 5vw;
    left: 2vw;
    text-decoration: none;
    font-size: 1.5vw;
}

#vin3{
    position: relative;
    color: black;
    width: 18vw;
    top: 12vw;
    left: -5.5vw;
    text-decoration: none;
    font-size: 1.5vw;
}

#vin4{
    position: relative;
    color: black;
    width: 10vw;
    top: 19vw;
    left: -13vw;
    text-decoration: none;
    font-size: 1.5vw;
}
