body{
    animation-iteration-count: infinite;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(img_nuves/sky.jpg);
}

.nubes{
    position: relative;
    width: 99vw;
    height: 35vw;
}

#nube1{
    position: relative;
    top: 4vw;
    width: 13vw;
    height: 8vw;
    animation-duration: 10s;
    animation-name: primera;
    animation-iteration-count: infinite;

}

@keyframes primera{
    0%{left: -10vw;opacity: 1;}
    94%{left: 105vw;opacity: 1;}
    99.5%{left: 105vw;opacity: 1;}
    100%{left: 105vw;opacity: -1;}
}

#nube2{
    position: relative;
    top: 10vw;
    left: -22vw;
    width: 8vw;
    height: 5vw;
    animation-name: segunda;
    animation-duration: 10s;
    animation-delay: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes segunda{
    0%{left: -22vw;opacity: 1;}
    94%{left: 90vw;opacity: 1;}
    99.9%{left: 90vw;opacity: 1;}
    100%{left: 90vw;opacity: -1;}
}

.barra{
    position: relative;
    display: flex;
    top: -39vw;
    left: -22vw;
    width: 20vw;
    height: 60vw;
    background-color: transparent;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

#rayas{
    position: relative;
    color: black;
    top: -35vw;
    font-size: 3vw;
    z-index: 2;
}

#menuInput{
    position: relative;
    left: 20vw;
    display: none;
}

#menuInput:checked ~.barra{
    animation-name: menu;
    animation-duration: 50s;
}

@keyframes menu{
    0%{left: -23vw;}
    5%{left: -1vw;}
    100%{left: -1vw;}
}

#vin2{
    position: relative;
    color: white;
    width: 20vw;
    top: 5vw;
    left: 2vw;
    text-decoration: none;
    font-size: 1.5vw;
}

#vin3{
    position: relative;
    color: white;
    width: 18vw;
    top: 12vw;
    left: -5.5vw;
    text-decoration: none;
    font-size: 1.5vw;
}

#vin4{
    position: relative;
    color: white;
    width: 10vw;
    top: 19vw;
    left: -13vw;
    text-decoration: none;
    font-size: 1.5vw;
}

