body{
    animation-iteration-count: infinite;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(img_nuves/sky.jpg);
}

.nubes{
    position: relative;
    width: 99vw;
    height: 35vw;
}

#nube1{
    position: relative;
    top: 4vw;
    width: 13vw;
    height: 8vw;
    animation-duration: 10s;
    animation-name: primera;
    animation-iteration-count: infinite;

}

@keyframes primera{
    0%{left: -10vw;opacity: 1;}
    94%{left: 105vw;opacity: 1;}
    99.5%{left: 105vw;opacity: 1;}
    100%{left: 105vw;opacity: -1;}
}

#nube2{
    position: relative;
    top: 10vw;
    left: -22vw;
    width: 8vw;
    height: 5vw;
    animation-name: segunda;
    animation-duration: 10s;
    animation-delay: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes segunda{
    0%{left: -22vw;opacity: 1;}
    94%{left: 90vw;opacity: 1;}
    99.9%{left: 90vw;opacity: 1;}
    100%{left: 90vw;opacity: -1;}
}

