body{
    background-color: #f8f8f8;
}

.cuadroBlan{
    position: relative;
    top: 10vw;
    left: 30vw;
    width: 35vw;
    height: 30vw;
    box-shadow: 0px 30px 20px #ccc;
    border-radius: 2vw;
    background-color: #f2f2f2;
}

.circulo{
    position: relative;
    top: 2vw;
    left: 5vw;
    background:linear-gradient(#1e9ff1,#2971e7);
    width: 25vw;
    height: 25vw;
    border-radius: 100vw;
}

.flechas{
    position: absolute;
    top: 2vw;
    left: 11vw;
    animation-name: movimiento;
    animation-duration: 10s;
    rotate: 30deg;
    z-index: 4;
}

@keyframes movimiento{
    0%{rotate:  30deg;}
    20%{rotate: 60deg;}
    30%{rotate:  -300deg;}
    100%{rotate:  -300deg;}
}

#rojo{
    top: 2vw;
    left: 9vw;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 200px solid red;
    border-left: 20px solid transparent;
}

#blanco{
    top: 4vw;
    left: 9vw;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 200px solid white;
    border-left: 20px solid transparent;
}

.rayitas span{
    background-color: #f2f2f2;
    position: absolute;
    top: 8vw;
    left: 12.5vw;
    width: 2px;
    height: 24px;
    transform: translateY(-137.55px) rotate(calc(10deg*var(--i)));
    transform-origin: 0px 220px;
    filter: drop-shadow(2px 2px 1px rgb(0,0,0,0.15));
}

.rayitas span::after{
    background-color: #fff;
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    transform: rotate(5deg);
    transform-origin: 0 150px;
}

