body{
    justify-content: center;
    background-color: brown;
    align-content: center;
}
.general{
    position: relative;
    top: 5vw;
    left: 30vw;
    width: 40vw;
    height: 30vw;
}

section p{
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    transition: all.3s ease-in-out;
}

section a{
    text-decoration: none;
    text-align: left;
    padding: 10px;
    background-color: aqua;
    color: white;
    display: block;
    border-bottom: 2px solid gray;
    font-family: Arial, Helvetica, sans-serif;
}

section:target p{
    max-height: 150px;
    padding: 15px;
}