@font-face {
    font-family: letra1;
    src: url(./letra/Cascadia.ttf);
}

html{
    size-adjust: 1080px;
}
body{
    font-family: letra1;
    background-color: #1e1d2b;
}

.general{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #1e1d2b;
    width:  1920px;
    height: 1080px;
}

.foto{
    position: absolute;
    top: 220px;
    left: 330px;

}

.about{
    position: absolute;
    top: 200px;
    left: 1000px;
    font-size: 240%;
    color: #ff702a;

}

.we{
    position: absolute;
    top: 250px;
    left: 1000px;
    color: #f0ecec;
    font-size: 350%;
}

.foodL{
    position: absolute;
    top: 310px;
    left: 1000px;
    color: #f0ecec;
    font-size: 350%;
}

.itis{
    position: absolute;
    top: 440px;
    left: 1000px;
    color: #f0ecec;
    font-size: 200%;
}

.bedistra{
    position: absolute;
    top: 480px;
    left: 1000px;
    color: #f0ecec;
    font-size: 200%;
}

.lookingat{
    position: absolute;
    top: 520px;
    left: 1000px;
    color: #f0ecec;
    font-size: 200%;
}

.cuaNaran{
    position: absolute;
    top: 630px;
    left: 1000px;
    width: 280px;
    height: 60px;
    background-color: #ff702a;
}

.LearnMore{
    position: absolute;
    top: 605px;
    left: 1030px;
    color: #f0ecec;
    font-size: 200%;

}

.foodmenu{
    position: absolute;
    top: 1000px;
    left: 950px;
    color: #ff702a;
    font-size: 200%;
}

.Freshtast{
    position: absolute;
    top: 1040px;
    left: 650px;
    color: #f0ecec;
    font-size: 350%;
}

.fotofood1{
    position: absolute;
    top: 1300px;
    left: 500px;
}

.texfo1{
    position: absolute;
    top: 1600px;
    left: 510px;
    color: #f0ecec;
    font-size: 200%;
}

.TastyFo1{
    position: absolute;
    top: 1670px;
    left: 560px;
    color: #f0ecec;
    font-size: 170%;
}

.precio1{
    position: absolute;
    top: 1720px;
    left: 590px;
    color: #ff702a;
    font-size: 170%;
}

.fotofood2{
    position: absolute;
    top: 1300px;
    left: 920px;
}

.texfo2{
    position: absolute;
    top: 1600px;
    left: 910px;
    color: #f0ecec;
    font-size: 200%;
}

.TastyFo2{
    position: absolute;
    top: 1670px;
    left: 1010px;
    color: #f0ecec;
    font-size: 170%;
}

.precio2{
    position: absolute;
    top: 1720px;
    left: 1040px;
    color: #ff702a;
    font-size: 170%;   
}

.fotofood3{
    position: absolute;
    top: 1300px;
    left: 1400px;
}

.fotofood3{
    position: absolute;
    top: 1300px;
    left: 1400px;
}

.texfo3{
    position: absolute;
    top: 1600px;
    left: 1400px;
    color: #f0ecec;
    font-size: 200%;
}

.TastyFo3{
    position: absolute;
    top: 1670px;
    left: 1480px;
    color: #f0ecec;
    font-size: 170%;
}

.precio3{
    position: absolute;
    top: 1720px;
    left: 1510px;
    color: #ff702a;
    font-size: 170%; 
}

.ServicesAbajo{
    position: absolute;
    top: 1920px;
    left: 980px;
    color: #ff702a;
    font-size: 200%;
}

.Weprovid1{
    position: absolute;
    top: 1990px;
    left: 610px;
    color: #f0ecec;
    font-size: 350%;
}

.fotS1{
    position: absolute;
    top: 2150px;
    left: 200px;
}

.OrderAba{
    position: absolute;
    top: 2600px;
    left: 390px;
    color: #ff702a;
    font-size: 200%;
}

.established{
    position: absolute;
    top: 2690px;
    left: 230px;
    color: #f0ecec;
    font-size: 200%;
}

.readable{
    position: absolute;
    top: 2725px;
    left: 180px;
    color: #f0ecec;
    font-size: 200%;
}

.looking{
    position: absolute;
    top: 2760px;
    left: 250px;
    color: #f0ecec;
    font-size: 200%;
}

.fotS2{
    position: absolute;
    top: 2150px;
    left: 800px;
}

.established2{
    position: absolute;
    top: 2690px;
    left: 820px;
    color: #f0ecec;
    font-size: 200%;
}

.Shipping{
    position: absolute;
    top: 2600px;
    left: 960px;
    color: #ff702a;
    font-size: 200%;
}

.fotS3{
    position: absolute;
    top: 2150px;
    left: 1400px;
}

.readable2{
    position: absolute;
    top: 2725px;
    left: 780px;
    color: #f0ecec;
    font-size: 200%;
}

.looking1{
    position: absolute;
    top: 2760px;
    left: 840px;
    color: #f0ecec;
    font-size: 200%;
}

.Dellvered{
    position: absolute;
    top: 2600px;
    left: 1570px;
    color: #ff702a;
    font-size: 200%;
}

.established3{
    position: absolute;
    top: 2690px;
    left: 1430px;
    color: #f0ecec;
    font-size: 200%;
}

.readable3{
    position: absolute;
    top: 2725px;
    left: 1376px;
    color: #f0ecec;
    font-size: 200%;
}

.looking2{
    position: absolute;
    top: 2760px;
    left: 1460px;
    color: #f0ecec;
    font-size: 200%;
}

.makequalityfo{
    position: absolute;
    top: 3200px;
    left: 600px;
    color: #302c44;
    font-size: 450%;
}

.Everyday{
    position: absolute;
    top: 3300px;
    left: 850px;
    color: #302c44;
    font-size: 450%;
}

.seNara{
    position: absolute;
    top: 3500px;
    left: 870px;
    width: 280px;
    height: 60px;
    background-color: #ff702a;
}

.denseNara{
    position: absolute;
    top: 3480px;
    left: 890px;
    color: #f0ecec;
    font-size: 200%;
}