@font-face {
    font-family: letra;
    src: url(./letra/AdobeCleanRegular.otf);
}

body {
    font-family: Arial,  sans-serif;
}

html {
    size-adjust: 1080px;
}

.barArr {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 174px;
    opacity: 1;
}

.fondo {
    position: absolute;
    top: 0px;
    left: -288.7714538574219px;
    width: 1920px;
    height: 1080px;
}

.barAbaj {
    position: absolute;
    top: 1463px;
    left: 0px;
    width: 1920px;
    height: 285px;
}

.cuaGran {
    position: absolute;
    top: 191px;
    left: 167px;
    width: 1545px;
    height: 1225px;
    border-radius: 20px;

}

.dian {
    position: absolute;
    top: 242px;
    left: 804px;
    width: 313px;
    height: 53px;
}

.paraTra {
    position: absolute;
    top: 327px;
    left: 567px;
    width: 786px;
    height: 64px;
    font-size: xx-large;
    text-align: center;
}

.sol {
    position: absolute;
    top: 490px;
    left: 845px;
}

.NúmeDocumen {
    position: absolute;
    top: 600px;
    left: 569px;
    font-size: x-large;
}

.cua1 {
    position: absolute;
    top: 680px;
    left: 564px;
    width: 792px;
    height: 63px;
    border: 1px solid #707070;
}

.expe {
    position: absolute;
    top: 750px;
    left: 564px;
    font-size: x-large;
}


.fechaCita {
    position: absolute;
    top: 910px;
    left: 564px;
    font-size: x-large;
}


.robot5 {
    position: absolute;
    top: 1100px;
    left: 752px;
}

.boAgen {
    position: absolute;
    top: 1250px;
    left: 873px;
    width: 166px;
    height: 42px;
}

.Sitienesal {
    position: absolute;
    top: 1050px;
    left: 620px;
    opacity: 0.5;
}

.input1 input {
    position: absolute;
    top: 820px;
    left: 564px;
    width: 792px;
    height: 63px;
    font-size: larger;
    font-weight: 600;
}

.input2 input {
    position: absolute;
    top: 980px;
    left: 564px;
    width: 792px;
    height: 63px;
    font-size: larger;
    font-weight: 600;
}

.input3 input{
    position: absolute;
    top: 680px;
    left: 564px;
    width: 792px;
    height: 63px;
    border: 1px solid #707070;
    font-size: larger;
}
